p{
    text-align: justify;
    
}
.card1{
    color: aqua;
}

.card11{
    background-color: black;
}
.card2{
    color: cornflowerblue;
}
.card3{
    color: violet;
}
img{
    width: 400px;
    height: 400px;
}